/* --- Barra principal del menú --- */
.menu-header {
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px -2px #333;
  display: flex;
  align-items: center;
  z-index: 100;
}

.menu-list {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2rem;
  list-style: none;
  width: 100%;
  height: 100%;
}

.menu-item {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.menu-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  transition: color 0.2s;
  height: 100%;
}

.main-category-link {
  color: #212121;
  text-decoration: none;
  padding: 0 4px;
  transition: color 0.2s;
}

.menu-link:hover .main-category-link,
.menu-link:focus .main-category-link {
  color: #2874f0;
}

.chevron-icon {
  margin-left: 6px;
  font-size: 1rem;
  color: #bdbdbd;
}

/* --- Mega menú desplegable --- */
.mega-menu {
  display: none;
  position: absolute;
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  top: 39px;
  background: #fff;
  box-shadow: 0 8px 16px rgba(40, 116, 240, 0.15);
  border: 1px solid #e0e0e0;
  z-index: 200;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 590px;
  max-height: 650px;
  width: 100%;
  max-width: 1250px;
  padding-top: 5px;
  padding-bottom: 16px;
}

.menu-item:hover > .mega-menu {
  display: flex;
}

.mega-menu-item.mega-menu-subcategory {
  display: block;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: bolder;
}

.mega-menu-item.mega-menu-subcategory a {
  color: var(--black-gray-color);
  padding: 8px 25px;
}

.mega-menu-title::after {
  content: "➤";
  font-size: 0.5rem;
  margin-left: 0.3rem;
  vertical-align: middle;
}

.mega-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-menu-item a {
  display: block;
  font-size: 13px;
  width: 250px;
  text-decoration: none;
  color: var(--gray-dark-color);
  padding: 5px 25px;
}

@media (max-width: 1250px) {
  .mega-menu {
    max-width: 99vw;
  }

  .mega-menu-item a {
    width: fit-content;
  }
}

@media (max-width: 1140px) {
  .mega-menu {
    min-height: 690px;
  }
}

@media (max-width: 900px) {
  .mega-menu {
    padding: 16px 8px;
    max-width: 100vw;
    margin-left: 0;
  }
  .mega-menu-column {
    min-width: 120px;
    margin-right: 16px;
  }
}
