/* Checkout Success Container Information*/
.checkout-success-container {
  background-color: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-light-color);
  min-width: 100vw;
  min-height: 50vh;
  letter-spacing: 0.5px;
}
.checkout-success-container h2 {
  margin-bottom: 1rem;
}

.checkout-success-container a {
  border-bottom: 2px solid transparent;
  color: var(--text-light-color);
}

.checkout-success-container a svg:hover {
  border-bottom: 2px solid var(--text-light-color);
}

/* Checkout success Items in the order */
.products-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0 1rem;
}

.products-section h2 {
  color: var(--text-dark-color);
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
}

.product-container {
  width: 250px;
  margin: 0.6rem;
  text-decoration: none;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.product-container .product-img-container {
  display: block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 0.6rem auto;
}

.product-container .product-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-info {
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-dark-color);
}

.product-info > span {
  display: block;
  margin: 0.4rem 0;
}

.product-info div span:nth-child(2) {
  color: #777;
  font-weight: 500;
  font-size: 12px;
  margin-left: 0.35rem;
}

.product-price {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

/* Checkout cancel container */
.checkout-cancel-container {
  background-color: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-light-color);
  min-width: 100vw;
  min-height: 50vh;
  letter-spacing: 0.5px;
}
.checkout-cancel-container h2 {
  margin-bottom: 1rem;
}

.checkout-cancel-container a {
  border-bottom: 2px solid transparent;
  color: var(--text-light-color);
}

.checkout-cancel-container a:hover svg {
  transition: all 0.3s ease-out;
  stroke-width: 1px;
}
