/* .card {
   width: calc(100% - 20px);
   margin: 0.6rem 0.6rem;
   border: 1px solid #ccc;
   box-shadow: 0 0 2px -2px gray;
}

.card-header {
   display: flex;
   justify-content: space-between;
   padding: 1.2rem;
   border-bottom: 1px solid #cecece;
} */
