.cart-container {
   display: flex;
   max-width: 1260px;
   margin: 15px auto;
   justify-content: space-between;
}

.cart-container .header-left {
   font-weight: bolder;
}

.cart-container .card {
   box-shadow: none;
}
