.product-container {
   width: 200px;
   margin: 0 0.6rem;
   text-decoration: none;
}

.product-container .product-img-container {
   width: 150px;
   height: 150px;
   overflow: hidden;
   text-align: center;
   margin: 0.6rem auto;
}

.product-container .product-img-container img {
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
}

.product-info {
   text-align: center;
   font-size: 0.8rem;
   color: black;
}

.product-price {
   text-align: center;
   font-weight: bold;
   font-size: 0.9rem;
   margin: 0.3rem 0;
}
