.product-descripton-container {
  display: grid;
  grid-template-columns: 67px minmax(356px, 485px) 1fr;
  padding: 1rem;
  background-color: var(--white-color);
  margin-top: -1rem;
}

.vertical-image-stack {
  position: relative;
  width: 67px;
  height: 440px;
  overflow-y: hidden;

  margin-right: 0.5rem;
}

.vertical-image-stack .thumbnail-container {
  width: 67px;
  height: 440px;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.vertical-image-stack .arrow-slide {
  position: absolute;
  width: 100%;
  max-width: 63px;
  padding: 0.25rem 0;
  background-color: var(--white-color);
  text-align: center;
  border: 1px solid var(--gray-color);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #2874f0;
  cursor: pointer;
}

.vertical-image-stack .arrow-slide.disabled {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  cursor: auto;
  z-index: -10;
}

.vertical-image-stack .arrow-slide svg {
  width: 20px;
  height: 20px;
}

.thumbnail {
  width: 63px;
  min-height: 63px;
  height: 63px;
  border: 1px solid transparent;
  overflow: hidden;
  text-align: center;
}

.thumbnail img {
  width: auto;
  max-width: 63px;
  height: 63px;
  max-height: 100%;
}

.thumbnail.active {
  border: 1px solid #2874f0;
  padding: 0.2rem;
}

.product-details-info-container {
  padding-left: 1.5rem;
  width: 90%;
}

.product-desc-container {
  width: 485px;
  min-width: 356px;
}

.product-desc-container .product-detail-buttons-container {
  display: flex;

  justify-content: space-between;
}

.product-desc-container .product-detail-buttons-container div {
  width: 48%;
}

.product-desc-container .product-detail-buttons-container div {
  width: 48%;
}

.product-desc-img-container {
  width: 100%;
  height: 440px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid #f0f0f0;
}

.product-desc-img-container > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Delete later upload component breed in this component */
.breedd ul {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.breedd ul li {
  list-style: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: var(--gray-dark-color);
}

.breedd ul li a,
.breedd ul li span {
  color: var(--gray-dark-color);
  display: inline-block;
  margin: 0 10px;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breedd ul li a:hover {
  color: var(--first-color);
  max-width: unset;
  white-space: nowrap;
  text-overflow: unset;
}

.product-details {
  margin: 0 10px;
}

.product-details .product-title {
  font-size: 18px;
  color: #212121;
  font-weight: 400;
}

.rating-count {
  display: inline-block;
  background: #388e3c;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 5px;
}

.rating-numbers-reviews {
  font-size: 12px;
  color: #777;
  font-weight: 600;
  display: inline-block;
  margin: 0 10px;
}

.extra-offer,
.discount {
  color: #388e3c;
  font-size: 12px;
  margin: 10px 0px;
  font-weight: 600;
}

.price-container {
  align-items: center;
}

.price {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
